
<div class="background">    
    <div class="overlay">
        <section id="logo">
            <img class="logo-large" src="/assets/marca-negativa.svg" alt="">        
        </section>
        <section id="home-text">
            <div class="title-box">
                <h3 class="title">Para quem é dono e participa dos resultados</h3>
                <p>
                    Registre-se em instantes e seja associado Sicoob CredieEmbrapa
                    usufruindo de todos os benefícios da nossa cooperativa
                </p>
            </div>     
        </section>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col" style="padding-left:20px; padding-right:20px;">
                <button class="button button-block button-balanced" ng-click="redirect()">
                    Quero me associar        
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col about-sicoob">
                <a href="#">conheça mais sobre o SICOOB</a>
            </div>
        </div>
    </div>
</div>


