<div class="background">
    <div class="overlay">
        <section id="logo">
            <img class="logo-large" src="/assets/marca-negativa.svg" alt="">        
        </section>

        <section id="form-signup">
            <form action="">
                <div class="list">
                    <label for="" class="item item-input">
                        <input type="text" style="background-color:transparent !important;" class="signup-input" placeholder="Nome Completo">
                    </label>
                    <label for="" class="item item-input">
                        <input type="text" class="signup-input" placeholder="Email" background-color:transparent;>
                    </label>
                    <label for="" class="item item-input">
                        <input type="text" class="signup-input" placeholder="CPF" background-color:transparent;>
                    </label>
                    <label for="" class="item item-input">
                        <input type="text" class="signup-input" placeholder="Telefone Celular" background-color:transparent;>
                    </label>
                </div>

                <div class="row">
                    <div class="col" style="padding-left:20px; padding-right:20px;">
                        <button class="button button-block button-balanced" ng-click="redirect()">
                            Continuar        
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                    <p>Ao continuar você estará de acordo com a nossa
                        <a href="#">POLÍTICA DE PRIVACIDADE E USO DE DADOS</a>
                    </p>
                    </div>  
                </div>
            </form>
        </section>
    </div>
</div>