<div class="step-overlay">
    <div class="row">
        <ion-slides options="options" slider="slider">
            <ion-slide-page>
                <div class="img-slide">
                    <img src="/assets/walkthrough-step1-cadastro.png" alt="">
                </div>
            </ion-slide-page>

            <ion-slide-page>
                <div class="img-slide">
                    <img src="/assets/walkthrough-step1-cadastro.png" alt="">
                </div>
            </ion-slide-page>

            <ion-slide-page>
                <div class="img-slide">
                    <img src="/assets/walkthrough-step1-cadastro.png" alt="">
                </div>
            </ion-slide-page>
            
        </ion-slides>
    </div>
</div>